<%# imported from hyrax 5.0.1 %>
<%# modified to add research data commons link %>
<div class="row mt-4">
  <div id="commons" class="col-md-12 col-sm-12">
    Explore data resources available to IU researchers. This catalog is brought to you by the <a href="https://researchdata.iu.edu">IU Research Data Commons</a>.
  </div>
</div>
<div class="row mt-4">
  <div id="content" class="order-sm-1 order-md-2 col-md-9 col-sm-12">
    <%= render 'search_results' %>
  </div>

  <div id="sidebar" class="order-sm-2 order-md-1 col-md-3 col-sm-12">
    <%= render 'search_sidebar' %>
  </div>
</div>
