body.dashboard {
  padding-top: 0 !important;
  background-color: white !important;
}

div.sidebar {
  background-color: #454545;
}

div.sidebar div.profile {
  background-color: #434343;
}

nav.breadcrumb {
  background-color: #ffffff;
}

/* Access eligibility (rights_statement) checkboxes */
div.form-group.check_boxes {
  div.checkbox {
    label {
      input {
        display: inline;
        margin: 0.5em;
        vertical-align: middle;
        width: 2em;
      }
    }
  }
}

/* Accessibility workflow panel */
div.panel-workflow div.card-header {
  color: #000000;
}


/*  User Activity Log grid */
div.activity-display {
  height: 400px;
}

p.help-block a {
  text-decoration: underline;
}

h3.text-faded {
  color: #45587D;
  margin-top: 0;
}