/*!
 * modifications to blend rivet styling with hyrax
 */

/* footer width */
.rvt-container-lg {
  max-width: 100%;
}

/* footer height */
.rvt-lockup__tab {
    height: 2.8rem;
}

div.rvt-footer-base__inner {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

ul.rvt-footer-base__list {
    width: 550px;
    min-width: 448px;
}

li.rvt-footer-base__item {
    align-content: center;
}

a.rvt-footer-left__link {
    float: left;
}

li.rvt-footer-base__item:nth-last-child(2) {
    width: 225px;
}

li.rvt-footer-base__item:last-child {
    margin-left: 0
}

div.rvt-footer-base__msg {
    height: 2.8rem;
    padding-top: 0.75rem;
    white-space: nowrap;
}

a.rvt-footer-base__link {
    height: 2.8rem;
    align-content: center;
    display: block;
}

/* application name width in header */
.rvt-header-global__logo-slot {
  width: 100%;
  flex-shrink: 1;
}

/* meet AA contrast requirements */
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.9);
}

a.page-link {
    color: #005d8f;
}

.page-item.active .page-link {
    background-color: #005d8f;
    border-color: #005d8f;
}

a.page-link:hover{
    color: #00385f;
    text-decoration:underline;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #2e74b2;
}

.badge {
    margin-left: 1em;
}

select {
    min-height: 2.8rem;;
}


.visibility-link .badge {
    font-weight: 700;
}

/* link accessibility requirements */
a.rvt-link {
    color: #0056B3 !important;
}

.search_results_show a, div#content_block_page a, li.attribute-rights_notes p a, p.work_description + p a {
    text-decoration: underline;
}
